input[type="search"]::placeholder {
    color: #9F9F9F;
    padding: 4%;
}

.answer {
    background-color: #734CF2;
}

.bookmark-button,
.settings-button {
    background-color: transparent;
    border-width: 5px;
    border-color: #ffffff;
    border-style: solid;
    color: #ffffff;
}

.box {
    height: 9rem;
    width: 17rem;
    box-shadow: 0px 3px 31px rgb(52, 51, 51);
    border-radius: 11px;
    color: #ffffff;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 1.5rem;
}

.box p {
    padding-left: 10%;
}

.boxes-div {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.bottom-card {
    height: 80vh;
    width: 86vw;
    background-color: #483EFF;
    margin-top: 10%;
    border-radius: 21px;
    display: flex;
    position: relative;
}

.button {
    height: 15%;
    width: 60%;
    border-radius: 22px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 1.5rem;
}

.buttons {
    width: 30vw;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Cc-bg {
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 50%;
    position: fixed;
    bottom: 0%;
    right: 6%;
}

.cc {
    padding: 15%;
    width: 70%;
}

.colon,
.sub-details {
    margin-left: 2%;
    font-weight: 400;
}

.computer-img {
    border-radius: 20px;
    box-shadow: 4px 7px 32px rgba(0, 0, 0, 1);
}

.content {
    padding: 6%;
    position: relative;
}

.details {
    margin-left: 7%;
    font-family: 'Roboto';
    font-weight: 500;
    color: #04285A;
    line-height: 2;
}


div img.searchicon{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 6%;
    margin-bottom: 6%;
    color: #ADADAD;
}

.first-content {
    display: flex;
    height: 50vh;

}

.handle-icon {
    width: 60%;
    border: 3px solid #000;
    border-radius: 11px;
    margin-bottom: 2%;
}

.handles {
    height: 10vh;
    width: 5vw;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10px;
    float: right;
    margin-top: 25vh;
}

.info-button {
    background-color: #BCE0F6;
    border-style: hidden;
}

.input-box {
    width: 60vw;
    height: 50vh;
    box-sizing: border-box;
    border-width: 6px;
    border-style: hidden;
    border-radius: 20px;
    background-color: #E5D8FF;
    box-shadow: 3px 5px 27px rgba(0, 0, 0, 1);
    color: #6F7373;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1.2rem;
    margin-left: 4%;
    padding: 3%;
    line-height: 2;

}


.logo {
    font-family: 'Delius Unicase';
    font-weight: 700;
    font-size: 1.8rem;
    margin-left: -2%;
}

.menu {
    width: 3%;
}


.navbar {
    margin: -1%;
    background-color: #6F6AF7;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    align-items: center;
}


.nav-links {
    width: 70vh;
    display: flex;
    justify-content: space-between;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1.3rem;

}

.next {
    position: absolute;
    right: 5%;
    bottom: 8%;
    height: 9%;
    width: 10%;
    border-radius: 9px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.5rem;
    background-color: #000000;
    color: #ffffff;
    padding: auto;

}

.participated {
    background-color: #D288FF;
}

.passed {
    background-color: #000000;
}

.search {
    border-style: hidden;
    border-radius: 63px;
    border-color: #ffffff;
    height: 2.5rem;
    width: 18rem;
}

.search-div{
    position: relative;
}

.textbox-div {
    position: relative;
}

.question {
    background-color: #929DFF;
}

.white-card {
    height: 72vh;
    width: 57vw;
    background-color: #ffffff;
    position: absolute;
    right: 0%;
    margin: 2%;
    border-radius: 19px;

}

.your-info {
    margin: 5%;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 3px;
    color: #04285A;
}